*.pyc
*.pyo
*.so
*~
*#
*.swp
/.python-version
/.idea
/.cache
/.eggs
/.tox
/venv
/build
/dist
/amazon.ion.egg-info
/docs/_build/
/amazon/ion/ion-c-build/
/temp_*.ion
/temp_*.10n
/.py-build-cmake_cache
