include LICENSE NOTICE *.md
recursive-include tests *.py
graft vectors
global-exclude *.pyc
global-exclude .git*
recursive-include amazon/ion/ion-c-build *
include install.py
include amazon/ion/_ioncmodule.h
