appdirs==1.4.4
attrs==23.2.0
distlib==0.3.8
filelock==3.13.3
iniconfig==2.0.0
jsonconversion==1.0.1
packaging==24.0
pluggy==1.4.0
py==1.11.0
pyparsing==3.1.2
pytest==8.1.1
pytest-runner==6.0.1
toml==0.10.2
tox==4.14.2
virtualenv==20.25.1
setuptools==69.2.0
docopt==0.6.2
tabulate==0.9.0
simplejson~=3.19.2
six~=1.16.0
cbor~=1.0.0
cbor2~=5.6.2
python-rapidjson~=1.16
ujson~=5.9.0
protobuf>=4.0.0
