appdirs==1.4.4
attrs==21.2.0
distlib==0.3.8
filelock==3.16.0
iniconfig==1.1.1
jsonconversion==0.2.12
packaging==20.9
pluggy==0.13.1
py==1.11.0
pyparsing==2.4.7
pytest==6.2.4
pytest-runner==5.3.1
toml==0.10.2
tox==3.23.1
virtualenv==20.26.4
setuptools==72.0.0
docopt==0.6.2
tabulate==0.9.0
simplejson~=3.18.3
six~=1.16.0
cbor~=1.0.0
cbor2~=5.4.6
python-rapidjson~=1.19
ujson~=5.7.0
protobuf>=4.0.0
