name: build and test

on:
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Python maintains 5 versions, along with the to-be-released version. Every October, this changes.
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13', 'pypy-3.8', 'pypy-3.10']
        os: [ macos-latest, ubuntu-latest, windows-latest ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Create a virtual environment
        run: git submodule init && git submodule update && python3 -m venv ./venv && . venv/bin/activate
      - run: python -m pip install build
      - run: python -m pip install '.[test]'
      # Run our tests, but do not run the benchmark tests since they pull in libraries that do not have pypy support.
      - run: py.test --ignore tests/test_benchmark_cli.py --ignore tests/test_benchmark_spec.py
